.Motto {
  background-image: url("./Images/fullpag.jpg");
  background-size: cover;
  background-position: 0 -20vw;
  position: relative;

  height: auto;
}
#motto {
  position: relative;
  top: 20vw;
}

.motto-text {
  color: white;
  font-family: "Lobster", cursive;
  text-align: center;
  margin: 1vw;
  margin-right: 40vw;
}
#motto-text1 {
  font-size: 4vw;
}

#motto-text2 {
  font-size: 2vw;
}

#image {
  position: relative;
  left: 57vw;

  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: white solid 3px;
}

@media only screen and (max-width: 700px) {
  .Motto {
    display: flex;
    flex-direction: column;
    background-position: 0 0;
    align-items: center;
  }
  #motto {
    position: relative;
    top: 0vw;
    margin-top: 7.5vw;
  }
  .motto-text {
    text-align: center;
    margin: 1vw;
  }

  #motto-text1 {
    font-size: 8vw;
  }

  #motto-text2 {
    font-size: 5vw;
  }

  #image {
    margin-top: 10vw;
    position: relative;
    left: 0vw;
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
  }
}
